%h1.text-center Institute of Behavioral Science
- @articles.each do |article|
  .clearfix
    %h3.text-center
      = link_to article.title, article
    = article.date_of_article.strftime("%B %-d, %Y")
    %br
    = image_tag article.image.url(:large), class: "pull-left" if article.image.exists?
    = article.body
%br
= link_to 'New Article', new_article_path
