%p#notice= notice

%p
  %b=@affiliation.institute_name
%p
  %b Website Url
  = @affiliation.website
%p
  %b Phone Number
  = @affiliation.phone
%p
  %b Fax Number
  = @affiliation.fax
%p
  %b Institution Email
  = @affiliation.email