%h1 Listing personnels

%table
  %tr
    %th First name
    %th Last name
    %th
    %th
    %th

  - @personnels.each do |personnel|
    %tr
      %td= personnel.first_name
      %td= personnel.last_name
      %td= link_to 'Show', personnel_path(personnel.uname)
      %td= link_to 'Edit', edit_personnel_path(personnel.uname)
      %td= link_to 'Destroy', personnel.uname, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Personnel', new_personnel_path
