%h1.text-center IBS Directory

%table.table.table-striped
  %tr
    %th Name
    %th Email
    %th Phone
    %th IBS Affiliation


  - @personnels.each do |personnel|
    %tr
      %td= link_to personnel.full_name, personnel_path(personnel.uname)
      %td
        - personnel.contact_infos.each do |ci|
          = ci.email if ci.display?
      %td
        - personnel.contact_infos.each do |ci|
          = ci.phone if ci.display?
      %td
        - personnel.employment_records.each_with_index do |er, index|
          #{er.position.title}, #{link_to(er.affiliation.institute_name, er.affiliation.website_url)}
          - unless index == (personnel.employment_records.size-1)
            %br

      / %td #{link_to 'Show', personnel_path(personnel.uname)} | #{link_to 'Edit', edit_personnel_path(personnel.uname)} | #{link_to 'Destroy', personnel.uname, :method => :delete, :data => { :confirm => 'Are you sure?' }}


%br

= link_to 'New Personnel', new_personnel_path
