!!!
%html
  %head
    %title Institute of Behavioral Sciences
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/header"
    = render partial: "layouts/navbar"
    #main.background_gradient
      .section
        = yield
    = render partial: "layouts/footer"

